<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://xmlns.jcp.org/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="true">


    <display-name>JIRA Manager</display-name>

    <!-- Bootstrap Spring container -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Spring Configuration -->
    <!-- Generic Configuration -->
    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/app-context.xml</param-value>
    </context-param>

    <!-- Spring MVC Configuration -->
    <servlet>
        <servlet-name>jrm</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
        <!-- Specific Configuration -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                WEB-INF/spring/servlet-context.xml
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jrm</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    <!-- <error-page>
        <error-code>404</error-code>
        <error-location>/WEB-INF/views/errors/404.jsp</error-location>
    </error-page> -->
</web-app>
